<h1>Genre's Artists</h1>

  <% Artist.all.each do |artist| %>
    <a href="/artists/<%= artist.slug %>"><%= artist.name %></a>
  <% end %>


<h1>Genre's Songs</h1>

  <% Song.all.each do |song| %>
    <a href="/songs/<%= song.slug %>"><%= song.name %></a>
  <% end %>
